# Configuration file to provide uniform file formatting with changing IDEs.
# See http://editorconfig.org for more details.

root = yes

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.php]
indent_style = space
indent_size = 4

[{composer.json,.travis.yml}]
indent_style = space
indent_size = 2
